<script>
function WebGuideMap(element) {
	var latlng = new google.maps.LatLng(-34.397, 150.644);
  var myOptions = {
    zoom: 8,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(element, myOptions);
}

$(function() {
	new WebGuideMap($('#map')[0])
});
</script>

<div id="map"></div>